<div class="card">
  <div class="card-body">
    <h4 class="card-title">Logbook records</h4>

    <table class="table table-striped" id="logbook-table">
      <thead>
        <tr>
          <td hidden></td>
          <td class="center-text"><i class="material-icons">tag</i></td>
          <td class="center-text"><i class="material-icons">event</i><br>Date</td>
          <td class="center-text"><i class="material-icons">flight_takeoff</i><br>Aircraft</td>
          <td class="center-text"><i class="material-icons">place</i><br>Dropzone</td>
          <td class="center-text"><i class="material-icons">paragliding</i><br>Canopy</td>
          <td class="center-text"><i class="material-icons">height</i><br>Altitude</td>
          <td class="center-text"><i class="material-icons">category</i><br>Type</td>
          <td class="center-text"><i class="material-icons">done</i><br>Approved</td>
          <td class="center-text"></td>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>

</div>
